@import "normalize.css";

:root {
  --color-body-text: black;
  --font-serif: courier new, ui-serif, serif;
}

body {
  font-family: var(--font-serif);
  font-size: 1.2rem;
  line-height: 1.5;
  background-color: white;
  color: var(--color-body-text);
  margin: 0;
  padding: 0;
}

main {
  margin: 1rem auto;
  padding: 0 5rem;
  max-width: 60ch;
}

.header h1 {
  font-size: 3rem;
  line-height: 98%;
  padding: 0;
  margin: 2rem 0 0;
}

.header p {
  font-size: 0.9rem;
}

menu {
  margin: 0 auto 4rem;
  text-align: center;
  padding: 0;
  width: 100%;
}

menu a,
menu a:visited {
  text-decoration: none;
}

menu ul {
  margin: 0;
  padding: 0.2ch 2ch;
  background-color: lightcoral;
  border-radius: 10px;
}
menu li {
  display: inline;
  white-space: nowrap;
  margin: 0.5rem;
}

h2.episode {
  font-size: 2.25rem;
  margin-top: 0;
}

h2.episode a {
  text-decoration: none;
}

h2.episode a:hover {
  text-decoration: underline;
}

p.episode-date {
  font-size: 1rem;
  font-style: italic;
  opacity: 0.8;
}

p.episode-description {
  opacity: 0.8;
}

[astro-icon="bi:calendar2-week-fill"] {
  width: 1em;
  margin: 0 0.5rem 0 0;
  padding: 0;
  text-align: center;
}
