@import "normalize.css";

:root {
  --color-body-text: black;
  --font-serif: courier new, ui-serif, serif;
}

body {
  font-family: var(--font-serif);
  font-size: 1.2rem;
  line-height: 1.5;
  background-color: white;
  color: var(--color-body-text);
  margin: 0;
  padding: 0;
}

main {
  margin: 1rem auto;
  padding: 0 5rem;
  max-width: 60ch;
}

.header h1 {
  font-size: 3rem;
  line-height: 98%;
  padding: 0;
  margin: 2rem 0 0;
}

.header p {
  font-size: 0.9rem;
}

menu {
  margin: 0 auto 4rem;
  text-align: center;
  padding: 0;
  width: 100%;
}

menu a,
menu a:visited {
  text-decoration: none;
}

menu ul {
  margin: 0;
  padding: 0.2ch 2ch;
  background-color: lightcoral;
  border-radius: 10px;
}
menu li {
  display: inline;
  white-space: nowrap;
  margin: 0.5rem;
}

h2.episode {
  font-size: 2.25rem;
  margin-top: 0;
}

h2.episode a {
  text-decoration: none;
}

h2.episode a:hover {
  text-decoration: underline;
}

p.episode-date {
  font-size: 1rem;
  font-style: italic;
  opacity: 0.8;
}

p.episode-description {
  opacity: 0.8;
}

[astro-icon="bi:calendar2-week-fill"] {
  width: 1em;
  margin: 0 0.5rem 0 0;
  padding: 0;
  text-align: center;
}

.footnote-container {
  display: inline-block;
  position: relative;
  text-indent: 0;
}
.footnote-backdrop {
  cursor: pointer;
}
.footnote-button {
  background: var(--text1);
  border: 0;
  border-radius: 0.475em;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  height: 0.95em;
  line-height: 0;
  margin: 0 0.1em 0 0.2em;
  padding: 0.35em;
  position: relative;
  top: -0.2em;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background;
  transition-property: background;
  vertical-align: super;
  width: 1.5em;
  z-index: 1;
}
.footnote-button:after {
  color: var(--surface1);
  content: attr(data-fn-number);
  display: block;
  font-size: 0.57em;
  font-weight: 700;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
}
.footnote-button:hover {
  background: var(--brand);
  outline: 0;
}
.footnote-button:hover:after {
  color: var(--text1);
}
.footnote-button.is-active {
  background: var(--text1);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.footnote-button.is-active:after {
  color: var(--surface1);
}
.bf-footnote {
  background: var(--text1);
  color: var(--surface1);
  border: 1px solid var(--accent1);
  border-radius: 0.25em;
  left: 0;
  margin: 1.618em 0;
  max-width: 90vw;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 3;
}
.bf-footnote.footnote-is-active {
  opacity: 0.97;
}
.bf-footnote.footnote-is-top {
  bottom: 0;
  top: auto;
}
.footnote-wrapper {
  background: inherit;
  border-radius: 0.25em;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 22em;
  z-index: 5;
}
.footnote-tooltip {
  background: inherit;
  border: 1px solid #d8d8d8;
  height: 1.3em;
  position: absolute;
  top: -0.49em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 1.3em;
  z-index: 4;
}
.footnote-is-top .footnote-tooltip {
  bottom: -0.49em;
  top: auto;
}
.footnote-content {
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1.418em;
  max-height: 15em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1em;
  position: relative;
  z-index: 2;
}
.footnote-content :first-child {
  margin-top: 0;
  padding-top: 0;
}
.footnote-content :last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
