---
import config from "config";
import Base from "../layouts/Base.astro";
import Post from "../components/Post.astro";
import RssXml from "../components/RssXml.astro";
import WriteFile from "../components/WriteFile.astro";

let title = config.get("title");

let allPosts = await Astro.glob("../content/posts/*.mdx");
allPosts = allPosts.reverse(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);

const pageSize = 2;
const indexPosts = allPosts.slice(0, pageSize);

const publicDirUrl = new URL(import.meta.url);
const rssFileUrl = new URL(config.get("rss.fileName"), publicDirUrl);
---

<Base title={title.toUpperCase()}>
  <section aria-label="Post list">
    {
      indexPosts.map((post) => {
        return (
          <Post content={post}>
            <post.Content />
          </Post>
        );
      })
    }
    {allPosts.length > pageSize ? <a href="/2">Next</a> : null}
  </section>
  <WriteFile fileUrl={rssFileUrl} slot="rss-writer">
    <RssXml allPosts={allPosts} slot="rss-writer" />
  </WriteFile>
</Base>
