---
const {page} = Astro.props;

const prevUrl = page.currentPage === 2 ? "/" : page.url.prev;
---

{page.url.prev ? <a href={prevUrl}>Previous</a> : null}
{page.url.next ? <a href={page.url.next}>Next</a> : null}
